
#particles-js{ 
    position:fixed; 
    width: 100%; 
    height: 100%; 
    margin: 0;
    background-color: black;  
    z-index: -1;
}


.header {
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30vh 0vh 50vh 0vh;
}

h1 {
    font-size: 50px !important;
}

.links{
    display: inline;
    max-width:20%;
    max-height: 100%;
    padding: 5px;
}

.things {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #35393C;
    padding-top: 100px;
    height: 100vh;
}

.aboutme {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.me {
    width: 40%; 
    max-width: 400px; 
    height: auto;
}

.bodtext {
    max-width: 60%;
}

p {
    margin: 0;
}
